[Desktop Entry]
Type=Application
Name=Sparrow Files
GenericName=File Manager
Comment=Browse files with Sparrow
Exec=env GTK_THEME=Sparrow thunar %U
TryExec=thunar
Icon=org.xfce.thunar
Terminal=false
StartupNotify=true
Categories=System;Core;GTK;FileTools;FileManager;
MimeType=inode/directory;
NoDisplay=true
